{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="row pt-5">
      <div class="col-md-7 py-5">
        {% if product.album.images %}
          {% for image in product.album.images %}
            <img src="{{image.image.url}}" class="d-block w-100" alt="">
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-5">
        <h1 class="mb-3">{{product.name}}</h1>
        <p class="mb-3">${{product.price}}</p>
        <button data-product='{{product.id}}' data-action="add" class="btn btn-outline-secondary update-cart add-btn mb-5">Add To Cart</button>
          
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                Description
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>
                  {{product.description}}
                </p>
              </div>
            </div>
          </div>
          {% if product.details %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Details
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> 
                <p>
                  {{product.details}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Shipping
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>
                  TheBrokenFox.com works with manufacturers across the world to source high quality products at the prices that suit you. 
                </p>
                <p>
                  This results in all our orders being shipped to you from across the world. However we do ensure we can track our orders for your extra piece of mind.
                </p>
                <p>
                  Because your products are coming from so far away they can take 2-3 weeks to arrive. Don't worry if the product doesn't arrive the next day! Most of the time our product will arrive a lot quicker, but we want you to be aware this is out of our control.
                </p>
                <p>
                  If you have any questions, contact us and our team will be happy to answer!
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% if reviews %}
  <div class="my-5">
    <h1 class="text-center">Reviews</h1>
    <div class="container-fluid py-5">
    {% for review in reviews %}
      <div class="card my-3">
        <div class="d-flex">
          <h6>{{review.rating}}</h6>
          <h6>{{review.buyer_name}}</h6>
        </div>
        <p>{{review.body}}</p>
        <span>{{ review.date_posted|date:'h:i F d, Y' }}</span>
      </div>
    {% endfor %}
  {% endif %}
{% endblock content %}