{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pb-5 mb-5 carousel-container">
    <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/Red_Hoodie_Front.PNG' %}" class="d-block carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/Blue_Crew_neck.PNG' %}" class="d-block carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/Black_Crew_Neck.PNG' %}" class="d-block carousel-image" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

</div>
<div class="ad-container my-5 text-center p-5 mx-auto">
    <h1>Valentine's Day is here</h1>
</div>
<div class="p-5 my-5 text-center">
    <h1 class="mb-5">Recently Added</h1>
    <div class="new-items">
        {% for product in products %}
        <a class="mx-2 mb-3 new-item" href="{% url 'detail_item' product.id %}">
          <div class="card">
              <img src="{{product.album.images.0.image.url}}" alt="" class="card-img">
              <div class="card-body"></div>
              {{product.name}}
          </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="news-letter p-5 my-5">
  <form action='/' method='post'>
    <div class="mx-auto mb-5 text-center text-dark">
      <h1>Sign Up for our news letter</h1>
      <h4>Get coupon codes and information on our latest releases...</h4>
    </div>
    <div class="email-form-fields mx-auto">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}